@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


* {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

/* Header Style  */

.navber {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-img img {
    max-width: 200px;
    width: 100%;
}

.nav-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    

}

.nav-list a:hover {

    color: royalblue;
}

/* dropdown */

.dropdown {
    display: inline;
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 25px;
    right: 0;
    text-align: left;
    width: auto;
    min-width: 100px;
    width: 150px;
    margin-right: -35px;
    border-radius: 5px;
    visibility: hidden;


}
.dropdown-content a{
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #23B5EF;
    margin-top: 5px;
    border: 1px solid transparent;
}

.dropdown:hover .dropdown-content {
        visibility: visible;
}

.special a {
    background-color: transparent;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 5px;
    padding: 10px 25px;
    transition: all 0.5s;
} 

.special:hover a{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,95,255,1) 0%, rgba(0,212,255,1) 88%);
    transition: all 0.5s;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 10px 6px 30px rgba(57, 57, 57, 0.495);

}

.home-page {
    background-image: url(Image/background-1.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.home-page-container {
    margin-top: 100px;
    margin-left: 330px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home-page-short-title {
    color: rgb(57, 57, 57);
    font-size: 18px;
}

.home-page-title {
    font-size: 40px;
    color: gray;
    font-weight: 700;

}

.home-page-button {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 200px;
}

.special-1 a {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,95,255,1) 0%, rgba(0,212,255,1) 88%);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    font-size: 20px;
    transition: all 0.5s;
    font-weight: 500;
    
}

.special-1:hover  a{
    background : #fff;
    border: 1px solid #000;
    color: #000;
    transition: all 0.5s;
    box-shadow: 10px 6px 30px rgba(57, 57, 57, 0.495);
}

.special-2 a {
    background : #fff;
    border: 1px solid #000;
    color: gray;
    padding: 10px 40px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s;
    font-weight: 600;
}

.special-2:hover a {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,95,255,1) 0%, rgba(0,212,255,1) 88%);
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    font-size: 20px;
    transition: all 0.5s;
    box-shadow: 10px 6px 30px rgba(57, 57, 57, 0.495);

}

/* Second page style  */
.second-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.second-page-img img {
    max-width: 700px;
    width: 100%;

}

.second-page-content {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.second-page-title {
    font-size: 40px;
    color: gray;
    font-weight: 700;
}

.second-page-content p {
    text-align: start;
    font-size: 18px;
}

/* plan container style  */

.plan-container {
    margin-top: 130px;
}

.plan-container .h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.plan-container .p {
    font-size: 15px;
    font-weight: 600;
    color: gray;
    text-align: center;
    margin-top: 20px;
}

.hosting-plans {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.hosting-plan {
    max-width: 290px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 2px -5px 20px rgb(97, 97, 97);
    background-color: #fff;
    overflow: hidden;
}

.hosting-plan img {
    max-width: 80px;
    width: 100%;
}

.plan-title {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.plan-small-title, .plan-description {
    color: gray;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.plan-price {
    color: #000;
    font-size: 25px;
    text-decoration: none;
     border: 2px solid #000;
     padding: 20px 30px;
     border-radius: 30px;
     font-weight: 800;
}

.plan-price:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,95,255,1) 0%, rgba(0,212,255,1) 88%);
    transition: all 0.6s;
    color: #fff;
    border: 2px solid transparent;
}


.plan-prices-1 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(8, 94, 255) 0%, rgba(0,212,255,1) 88%);
    border: 2px solid transparent;
    color: #fff;
    transition: 0.10s;
}

.plan-prices-1:hover {
        background: white;
        color: gray;
        border: 2px solid;
        transition: 0.10s;
}

.plan-btn {
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,95,255,1) 0%, rgba(0,212,255,1) 88%);
    font-size: 18px;
    border:2px solid transparent ;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.6s;
}

.hosting-plan .plan-btn:hover{
    background: #ffffff8d;
    color: #00000098;
    border: 2px solid gray;
    font-weight: 700;
    transition: all 0.6s;

}

#plan-btns {
    color: gray;
    background: white;
    border: 2px solid gray;
    transition: all 0.6s;
}

#plan-btns:hover {
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,95,255,1) 0%, rgba(0,212,255,1) 88%);
    border:2px solid transparent ;
    transition: all 0.6s;
  
}

/* Customer style  */

.customer-container {
    padding-top: 150px;
    background: #004C90;
    padding-bottom: 150px;
    margin-top: -200px;
}

.customer-hedding {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    align-items: center;
    margin-top: 178px;
 
}

.customer-hedding h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.customer-hedding p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: start;
    
}

.customer-logo {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 100px;
}

.customer-logo img {
    width: 125px;
}

.customer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.customer-content-img img {
    width: 100%;
    border-radius: 50%;
    border: 0;
    box-shadow: 8px 2px 20px rgb(29, 32, 48);
}

.customar-content-text {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 30px;
}
.customar-content-text-description {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.customer-deteils {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.customer-name {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.customar-job-title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

 /* Hosting content styles */


 .hosting-container {
 }
.hosting-container .h3  {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hosting-contents {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.hosting-content { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    width: 100%;
    overflow: auto;
    margin-bottom: 100px;
}

.hosting-content-title {
    font-size: 25px;

}
.hosting-content img {
    width: 80px;
}

.hosting-content-description {
    color: gray;
    font-size: 18px;
    text-align: start;
}

/* Feature Container style  */

.feature-container {
    padding-top: 120px;
}

.feature-container-title {
    text-align: center;
    font-size: 40px;
    color: rgb(94, 93, 93);
    font-weight: 700;
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 250px;
    width: 100%;
    align-items: center;
    padding: 20px;
    /* justify-self: center; */
}

.feature-contents {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 25px;
    padding: 100px 250px;
}

.last {
    visibility: hidden;
}

.feature-content-title {
    font-size: 20px;
    color: gray;
    font-weight: 600;
    text-align: center;
}

.feature-content img {
    width: 60px;
}

.feature-content-description {
    text-align: center;
    font-size: 18px;
}


/* contact style  */


.contact-container {
    display: flex;

    padding: 100px 150px;
    justify-content: space-between;
    align-items: center;
    background: rgb(108,206,226);
    background: linear-gradient(90deg, rgba(108,206,226,1) 0%, rgba(93,147,208,1) 48%, rgba(151,109,186,1) 100%);
    margin: 50px 140px;
    border-radius: 30px;
}

.contact-special {
    display: flex;
    gap: 40px;
}
.contact-contect {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-contect h3 {
    color: #fff;
    font-size: 30px;
}

.contact-contect p {
    color: #fff;
    font-size: 18px;
}

.contact-btn-1 a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,95,255,1) 0%, rgba(0,212,255,1) 88%);
    transition: all 0.5s;
    font-weight: 700;
    border: 1px solid transparent;
}

.contact-btn-1:hover a{
    color: grey;
    background : #fff;
    border: 1px solid #000;
    color: #000;
    border: 1px solid #ffffff;
    border-radius: 5px;;
    text-decoration: none;
    transition: all 0.5s;
    font-weight: 700;
    color: grey;
    font-size: 18px;
}

.contact-btn-2 a{
    border: 1px solid #fff;
    border-radius: 5px;
    color: grey;
    background: #fff;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.5s;
}

.contact-btn-2:hover a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,95,255,1) 0%, rgba(0,212,255,1) 88%);
    transition: all 0.5s;
    font-weight: 700;
    border: 1px solid transparent;
}

/* Footer style  */

.footer-1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #11A2DB;
    padding: 150px 0 100px 0; 
    margin-top: 100px;

}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content h4 {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}
.footer-content a {
    text-decoration: none;
    color: #ffffffa0;
    font-weight: 500;
    font-weight: 18px;
}

.footer-sub {
    display: flex;
    flex-direction: row;
    gap: 20px;
    column-gap: 20px;
}

.footer-sub-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-sub-1 p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.footer-sub-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-sub-2 p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-size: 18px;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #36B0E1;
    align-items: center ;
}

.copyright {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.footer-last-2 {
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.logo {
    color: #fff;
    padding: 16px 20px;
    background-color: #56BEE4;
    border-radius: 5px;
    font-size: 20px;
}